body {
    font-family: 'Nanum Gothic', sans-serif;
}

.nav {
    background: white;
    opacity: 0.8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    margin: 5px;
}

.nav-text {
    display: flex;
    justify-content: space-between;
    
}

.nav-link {
    display: flex;
    flex-direction: row;
    margin: 5px;
}



body {
    background-color: #26277a;
}

.index-title {
    color: white;
    text-align: center;
}

.card {
    background-color: white;
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    opacity: 0.5px;
}

.card-title {
    font-size: 22px;
}

.car-boy {
    margin-left: 20px;
    color:black;
}

a {
    color: #a2a4f2;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.update-button {
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 15px;
}

.delete-button {
    border-radius: 5px;
    margin:3px;
    padding: 5px;
    width: 49px;
    background-color: white;
}

.postcard {
    background: white;
    padding: 10px;
}

.create-form {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.text-box {
    width: 300px;
    height: 100px;
}

.about-card {
    background-color: white;
    height: 25vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.login-grid {
    display: grid;
    grid-template-areas: 
    "img img . ."
    "img img p p"
    "img img div1 div1"
    "img img div2 div2"
    "img img . ."
    "img img div3 div3"
    "img img div4 div4"
    "img img . .";

    background-color: white;
}

.gridone {
    grid-area: img;
}

.loginform1 {
    grid-area: div1;
    margin: 10px;
}
.loginform2 {
    grid-area: div2;
    margin:10px;
}
.loginform3 {
    grid-area: div3;
}
.loginform4 {
    grid-area: div4;
}

.logintext{
    grid-area: p;
    font-size: 40px;
}

.emailbox {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.passwordbox {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.loginsubmitbox {
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    color:white;
    background-color: black;
}

.register-grid {
    display: grid;
    grid-template-areas: 
    "img2 img2 . ."
    "img2 img2 regp regp"
    
    "img2 img2 regdiv1 regdiv1"
    "img2 img2 regdiv2 regdiv2"
    "img2 img2 regdiv3 regdiv3"
    "img2 img2 regdiv4 regdiv4"
    "img2 img2 regdiv5 regdiv5"
    "img2 img2 . .";

    background-color: white;
}

.gridtwo {
    grid-area: img2
}

.registertext {
    grid-area: regp;
    font-size: 40px;
}

.registerform1 {
    grid-area: regdiv1
}
.registerform2 {
    grid-area: regdiv2
}
.registerform3 {
    grid-area: regdiv3
}
.registerform4 {
    grid-area: regdiv4
}
.registerform5 {
    grid-area: regdiv5
}

.emailformreg {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.userformreg {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.pwformreg {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}
.pwcformreg {
    border-radius: 10px;
    padding: 5px;
    width: 300px;
}

.regbutton {
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    color:white;
    background-color: black;
}