{% extends "base.html" %}
{% block content %}
    <div class="create-form">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}
          <h1>Tell us what you're thankful about!</h1>
          <br>
          <div class="form-group">
              Title:
              <br>
              {{form.title(class="form-control form-control-lg")}}
          </div>
          <br>
          <div class="form-group">
            Today I'm thankful about...
            <br>
            {{form.text(class="text-box")}}
        </div>
        <br>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
{% endblock %}