{% extends "base.html" %}
{% block content %}
<div class="about-card">
        <div><img src="https://st.depositphotos.com/1646956/3114/v/380/depositphotos_31146745-stock-illustration-happy-boy.jpg?forcejpeg=true" class="aboutpic"></div>
        <h1 class="cardtitle">What Thankful Notes is about..</h1>
        <p class="cardtext">In life, people consistently find things to complain about. But how often do people sit down and think about what they are thankful for? 
           That is the inspiration for this application. I wanted to create a place where people can share their thoughts about what they were thankful for today.</p>
    </div>
   
{% endblock %}