{% extends "base.html" %}
{% block content %}
<div class="postcard">
  <h1>{{ post.title }}</h1>
  <h4>By: {{post.author.username}} - Posted: {{ post.date.strftime('%B %d, %Y') }}</h4>
  <br>
  <h4>{{post.text}}</h4>
  <br>
   {% if post.author == current_user %}
     <div>
       <a class="update-button" href="{{ url_for('thankful_posts.update', thankful_post_id=post.id) }}">Update</a>
       <form action="{{ url_for('thankful_posts.delete_post', thankful_post_id=post.id) }}" method="POST">
        <input class="delete-button" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}