{% extends "base.html" %}
{% block content %}
<div class="postcard">
  <h1 class="pctitle">{{ post.title }} <p class="infotext">By: {{post.author.username}} - Posted: {{ post.date.strftime('%B %d, %Y') }}</p></h1>
  <h4 class="pctext">{{post.text}}</h4>
   {% if post.author == current_user %}
     <div>
       <a class="update-button" href="{{ url_for('thankful_posts.update', thankful_post_id=post.id) }}">Update</a>
       <form action="{{ url_for('thankful_posts.delete_post', thankful_post_id=post.id) }}" method="POST">
        <input class="delete-button" type="submit" value="Delete">
      </form>
     </div>
   {% endif %}
</div>
{% endblock content %}